ul, ol {
  margin:0;
  padding:0;
  list-style:none;
}

body {
  font-size:.75em;
  font-family:'Droid Sans', sans-serif;
  font-weight:bold;
  height:100%;
  margin-top:40px;
}

#calendar {
  text-align:center;
  height:100%;
  min-width:960px;
  min-height:500px;
}

#week-header {
  height:18px;
  top:22px;
  position:absolute;
  width:100%;
  min-width:960px;
  background-color:white;
}

#nav {
	position:absolute;
	text-align:center;
	height:18px;
	top:0px;
	width:100%;
}

#previous-month {
	margin-right:50px;
}

#next-month {
	margin-left:50px;
}

.day {
  position: relative;
  height: 19.8%;
  overflow:hidden;
}

.placeholder {
  height:50px;
}

.events {
  list-style:disc;
  margin:20px;
}

.span-week {
  width:14%;
  float:left;
  text-align:center;
}

.span-week.day {
  text-align:left;
  font-size:14px;
}

.span-week.last {
  border-right:1px solid black; 
}

