ul, ol {
  margin:0;
  padding:0;
  list-style:none;
}

body {
  margin:0;
  font-size:.75em;
  font-family:'Droid Sans', sans-serif;
  font-weight:bold;
  height:100%;
  margin-top:46px;
}

#calendar {
  text-align:center;
  height:100%;
  min-width:960px;
  min-height:500px;
}

#week-header {
  height:18px;
  top:40px;
  position:absolute;
  width:100%;
  min-width:960px;
  background-color:white;
}

#nav {
	position:absolute;
	text-align:center;
	height:30px;
  padding-top:10px;
	top:0px;
	width:99.9%;
}

.event-controls button {
  padding:5px;
  margin-bottom:10px;
}

#view-switcher {
  height:40px;
}

#previous-month {
	margin-right:50px;
}

#next-month {
	margin-left:50px;
}

.day {
  position: relative;
  height: 19.8%;
  overflow:hidden;
}

#calendar-week .day {
  height:100%;
}

.placeholder {
  height:50px;
}

#calendar-week .week-event {
  position:absolute;
  width:100%;
  padding-left:10px;
  background: rgba(123, 123, 123, .5)
}

.span-week {
  width:14%;
  float:left;
  text-align:center;
}

.span-week.day {
  text-align:left;
  font-size:14px;
}

.span-week.last {
  border-right:1px solid black; 
}

#month-controls, #week-controls {
  width:600px;
  margin:0 auto;
}

.current-date {
  float:left;
}
.days .date {
  padding-left: 5px;
}

.events {
  padding-left:5px;
}

#view-switcher, #week-view, #month-view, #event-view, .button, #edit-user-info, #create-event-button, #login-button, #logout-button {
  float:left;
  margin-top:-5px;
  padding:5px;
  cursor:pointer;
}

.logged-in .logged-out, .logged-out .logged-in {
  display:none;
}

label, input { display:block; }
		input.text { margin-bottom:12px; width:95%; padding: .4em; }
		fieldset { padding:0; border:0; margin-top:25px; }
		h1 { font-size: 1.2em; margin:0 0 5px 0; padding:5px;}
		div#users-contain { width: 350px; margin: 20px 0; }
		div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
		div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.validateTips { border: 1px solid transparent; padding: 0.3em; }
